{% extends "base.html" %} 

{% block settings %}<button class="top-dropdown-item" id="open-settings">Settings</button>{% endblock %}

{% block content %}
<!-- MAIN HOMEPAGE -->
<div class="home-page container">
    <!-- CHANNELS -->
    <nav class="channel-list column-container scroller-container">
        <li class="channel-list-item all-center-container">
            <div class="channel-list-pill" id="channel-pill-1234"></div>
            <button open-channel-btn id="channel-button-1234">
                <img class="channel-list-icon" src="/api/photos/123456789.webp" />
            </button>
        </li>
        <li class="channel-list-item all-center-container">
            <div class="channel-list-pill" id="channel-pill-4321"></div>
            <button open-channel-btn id="channel-button-4321">
                <img class="channel-list-icon" src="/api/photos/987654321.webp" />
            </button>
        </li>
        <hr class="separator">
        <li class="channel-list-item all-center-container">
            <div class="channel-list-pill" id="channel-pill-4321"></div>
            <button class="all-center-container" id="add-channel-btn">
                <svg width="38" height="38" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
        </li>
    </nav>

    <!-- CURRENT CHANNEL -->
    <div class="channel-view spaced-column-container">
        <div class="not-found all-center-column-container">
            <h2 class="not-found-error">404</h2>
            <h2>Open any channel and start chatting</h2>
        </div>
    </div>
</div>

<!-- SETTINGS -->
<div id="settings">
    <!-- SIDEBAR -->
    <div class="settings-sidebar-wrapper scroller-container">
        <nav class="settings-sidebar column-container">
            <p class="settings-category-text">USER SETTINGS</p>
            <button open-settings-category id="settings-open-account">Account</button>
            <button open-settings-category id="settings-open-security">Security</button>
            <button open-settings-category id="settings-open-friends">Friends</button>
            <hr class="separator">

            <p class="settings-category-text">APP SETTINGS</p>
            <button open-settings-category id="settings-open-appearance">Appearance</button>
            <button open-settings-category id="settings-open-advanced">Advanced</button>
            <hr class="separator">

            <a href="logout">Log Out</a>
            <p class="settings-category-text" id="settings-sidebar-info">Test</p>
        </nav>
    </div>

    <!-- CONTENT -->
    <div class="settings-page">
        <div class="column-container scroller-container" id="settings-content"></div>
        <button all-close class="all-center-container" id="close-settings">
            <svg width="16" height="16" fill="var(--FONT_DIM_COLOR)" viewBox="0 0 16 16">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.41423 7.99943L15.7384 1.67529L14.3242 0.261078L8.00001 6.58522L1.67587 0.261078L0.261658 1.67529L6.5858 7.99943L0.261658 14.3236L1.67587 15.7378L8.00001 9.41365L14.3242 15.7378L15.7384 14.3236L9.41423 7.99943Z"></path>
            </svg>
        </button>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>var user_id = "{{ user_id }}"</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script charset="utf-8" src="{{ url_for('static', filename='js/chat.js') }}"></script>
<script charset="utf-8" src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}