{% extends "base.html" %} 

{% block content %}
<div class="login-page all-center-container">
    <div class="login-window">
        <h1 class="login-title">Welcome back!</h1>

        <form action="" method="POST">
            <div class="column-container">
                <p class="category-text">EMAIL</p>
                <input class="input-field" name="email" maxlength=100 required />
            </div>
            <div class="column-container">
                <p class="category-text">PASSWORD</p>
                <input class="input-field" type="password" name="passwd" maxlength=50 required />
            </div>
            <p class="login-redirect"><a class="link" href="password-recovery">Forgot your password?</a></p>

            <input id="login-submit" type="submit" value="LOG IN" />
            <p class="login-redirect">Need an account? <a class="link" href="register">Register</a></p>
        </form>
    </div>
</div>
{% endblock %}