/* GENERAL STUFF */
:root {
    --BACKGROUND_COLOR: #010409;
    --MAIN_COLOR: #161b22;
    --COLOR_3: #101216;
    --COLOR_4: #1c232c;

    --FONT_COLOR: #FFFFFF;
    --FONT_RV_COLOR: #FFFFFF;
    --FONT_DIM_COLOR: #8b8b8b;    

    --BLACK: #000000;
    --BLUE: #008eb9;
    --GREEN: #00AB6B;
    --DIM_GREEN: #00925d;

    --BORDER_COLOR: #1d1d1d;    
    --SCROLLBAR: #4b4b4b; 
    --SCROLLBAR_DARKER: #272727;

    --BUTTON: #4F545C;
    --BUTTON_HOVER: #3c3f45;
    --RED_BUTTON: #ed4245;
}

[data-theme="dark"] {
    --BACKGROUND_COLOR: #010409;
    --MAIN_COLOR: #161b22;
    --COLOR_3: #13161b;
    --COLOR_4: #1c232c;

    --FONT_RV_COLOR: #FFFFFF;
    --FONT_DIM_COLOR: #8b8b8b;
    
    --BORDER_COLOR: #1d1d1d;
    --BUTTON_HOVER: #3c3f45;
}

[data-theme="light"] {
    --BACKGROUND_COLOR: #f6f8fa;
    --MAIN_COLOR: #ffffff;
    --COLOR_3: #e3e5e8;
    --COLOR_4: #f6f8fa;

    --FONT_RV_COLOR: #000000;
    --FONT_DIM_COLOR: #7a7a7a;
    
    --BORDER_COLOR: #d3d3d3;
    --BUTTON_HOVER: #dbdee1;
}
    

html, body, #appMount {
    background-color: var(--BACKGROUND_COLOR);
    color: var(--FONT_RV_COLOR);
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
}


/* GLOBALS */
* { 
    color: inherit;
    user-select: none; 
    -webkit-appearance: none; 
}

h1, h2, h3, p { margin: 0; font-weight: 500;}
span, button, div, input, label, select, hr { outline: 0; border: 0 }
li { list-style: none; }

button, input { 
    font-size: inherit; 
    background-color: transparent; 
    border: 0; 
    padding: 0; 
    transition: .17s ease; 
}
button:hover { cursor: pointer; }
button:hover svg { fill: var(--BLUE) }
a { color: var(--FONT_COLOR); transition: .17s ease; text-decoration: none; }

.icons { fill: var(--FONT_COLOR) }
.link { color: var(--BLUE); }
.link:hover { text-decoration: underline; }

[class*="container"] { display: flex; gap: .5rem; }
.spaced-container { gap: 1rem; justify-content: space-between; align-items: center; }
.center-container { justify-content: center; align-items: center; }

[class*="column"] { flex-direction: column; }
.spaced-column-container { gap: 1rem; justify-content: space-between; align-items: center; }
.center-column-container { justify-content: center; align-items: center; }

.absolute-container { position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
.scroller-container { position: relative; overflow-y: scroll; overflow-x: hidden } 

.separator { 
    width: calc(100% - 2rem); 
    min-height: 2px; 
    margin: .5rem 1rem; 
    background-color: var(--BUTTON_HOVER);
}

.scroller-spacer { min-height: 30px;}
.category-text { font-size: .75rem; color: var(--FONT_DIM_COLOR); }

.input-field {
    height: 20px;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: .25rem;
    background-color: var(--COLOR_4);
    color: var(--FONT_RV_COLOR);
}

.submit-btn { 
    background-color: var(--GREEN); 
    color: var(--FONT_COLOR); 
    border-radius: .5rem; 
    padding: .5rem; 
    line-height: 1.375rem;
}
.submit-btn:hover { cursor: pointer; background-color: var(--DIM_GREEN); }

::-webkit-scrollbar { width: 6px }
::-webkit-scrollbar-track { background-color: transparent }
::-webkit-scrollbar-thumb { background-color: var(--SCROLLBAR); border-radius: 9999px;}
::-webkit-scrollbar-thumb:hover { cursor: pointer; background-color: var(--SCROLLBAR_DARKER) }
::-webkit-scrollbar-button { height: 2.5px }


/* HOME PAGE */
.home-page { width: 100%; height: 100%; gap: 0}

/* main sidebar */
.main-sidebar {
    width: 64px;
    min-height: 200px;
    padding: .75rem 0;
    background-color: var(--MAIN_COLOR);
}
.main-sidebar::-webkit-scrollbar { display: none; }
.main-sidebar-elements { width: 100%; }

.main-sidebar-item { pointer-events: none; }
.main-sidebar-item:hover .main-sidebar-pill { height: 20px; }

.main-sidebar-pill { 
    position: absolute;
    left: 0;
    width: 8px;
    height: 0;
    border-radius: 0 4px 4px 0; 
    margin-left: -4px;
    background-color: var(--FONT_DIM_COLOR); 
    transition: .17s ease; 
}

.main-sidebar-icon {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--COLOR_3);
    pointer-events: auto;
}

.main-sidebar-icon svg { fill: var(--BLUE); transition: unset;}
.main-sidebar-icon:hover svg { fill: var(--FONT_COLOR) }
.main-sidebar-icon:hover { border-radius: 10px; background-color: var(--BLUE);}


/* CHANNEL VIEW */
/* channel info */
.main-view {
    width: calc(100% - 64px);
    height: 100%;
    min-height: 200px;
    gap: 0;
    border-left: 1px solid var(--BORDER_COLOR);
    background-color: inherit;
}

.channel-title {
    min-height: 48px;
    width: calc(100% - 1rem);
    margin: .5rem .5rem 0 .5rem;
    border-radius: .5rem;
    border-color: transparent;
    background-color: var(--MAIN_COLOR);
    color: var(--FONT_RV_COLOR);
}

.channel-name { font-size: 1.25rem; }

.channel-icon {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

#channel-settings { width: 48px; height: 48px; }
#channel-settings svg { fill: var(--FONT_RV_COLOR); }
#channel-settings:hover svg { fill: var(--BLUE) }


/* chat */
#chat-window { height: 100%; width: calc(100% - 1rem); margin: 0 .5rem; }

.message-list-item { margin: 1rem .5rem 0 .5rem; padding: 2px 0; }
.repeated-message-list-item { align-items: center; margin-top: 0; padding: .125rem 0 }
.repeated-message-list-item:hover .message-hidden-time { color: var(--FONT_DIM_COLOR) }

.avatar {
    margin-top: 4px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.message-hidden-time {
    width: 40px;
    font-size: .75rem;
    color: transparent;
}

.compact-msg { 
    align-items: flex-start; 
    gap: 0; 
    margin: 0 .5rem; 
    padding: .125rem;
    min-height: 1.375rem
}

.compact-msg-time-info { margin-top: .2rem; font-size: .75rem; color: var(--FONT_DIM_COLOR) }
.compact-msg-user-info { font-weight: 700; margin: 0 .5rem 0 .25rem; }
.compact-msg-text { word-break: break-word; white-space: break-spaces; }

.message-info { align-items: end; line-height: 1.375rem; }
.message-author { font-size: .875rem}
.message-time { font-size: .75rem; color: var(--FONT_DIM_COLOR) }

.message-content {max-width: calc(100% - 3rem);}
.message-text { line-height: 1.375rem; word-break: break-word; white-space: break-spaces; }


/* sending messages */
.writing-box {
    align-items: start;
    border-radius: .5rem;
    margin: 0 .5rem .5rem .5rem;
    max-height: calc(40% - .5rem);
    width: calc(100% - 1rem);
    color: var(--FONT_RV_COLOR);
    background-color: var(--MAIN_COLOR);
}   

.chat-inpt-wrapper {
    align-items: center;
    padding: 0 .5rem;
    min-height: 100%;
    max-height: 100%;
    width: calc(100% - 1rem);
}

#chat-inpt {
    height: max-content;
    width: 100%;
    line-height: 1.375rem;
    word-break: break-word;
    white-space: break-spaces;
}

/* SETTINGS PAGE */
#settings {
    display: flex; 
    justify-content: center;
    background-color: inherit;
    z-index: 15;
    gap: 0;
    transform: scale(0);
    transition: .17s ease; 
}

#settings.overlay { transform: scale(1); }

/* siderbar */
.settings-sidebar-wrapper {
    display: flex;
    flex: 1 1 200px;
    justify-content: right;
    background-color: var(--MAIN_COLOR);
    color: var(--FONT_COLOR);
}
.settings-sidebar-wrapper::-webkit-scrollbar { display: none; }

.sidebar-title a { color: var(--FONT_RV_COLOR); font-size: 1.75rem; }
#settings-dropdown-btn { display: none; }
#settings-dropdown-btn svg { fill: var(--FONT_DIM_COLOR) }

.settings-sidebar {
    width: 180px;
    height: max-content;
    gap: 0;
    padding: 60px 6px 60px 20px;
}
.settings-sidebar button, #settings-logout, .settings-sidebar h2, .settings-sidebar p { padding: 6px 10px; } 

.settings-sidebar button, #settings-logout {
    text-align: left;
    margin-bottom: 2px;
    border-radius: .25rem;
    color: var(--FONT_RV_COLOR);
}

.settings-sidebar button.active, #settings-logout.active { background-color: var(--BUTTON_HOVER); }
.settings-sidebar button:hover, #settings-logout:hover { background-color: var(--BUTTON_HOVER) }

/* content */
.settings-page {
    display: flex;
    flex: 1 2 800px;
    justify-content: left;
    border-left: 1px solid var(--BORDER_COLOR);
}

#settings-content {
    padding: 70px 20px 70px 40px;
    gap: 1.25rem;
    width: min(700px, 100%);
    height: max-content;
    user-select: text;
}

#close-settings { 
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid var(--FONT_DIM_COLOR);
    border-radius: 50%;
}
#close-settings:hover { border-color: var(--BLUE); }

/* responsive settings */
@media screen and (max-width: 700px) {
    #settings {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }
    
    .settings-sidebar-wrapper { 
        flex: unset;
        width: 100%; 
        justify-content: left;
        max-height: 48px; 
        overflow: hidden; 
    }

    .settings-sidebar-wrapper.active { max-height: 368px; overflow-y: scroll; }
    .settings-sidebar-wrapper.active svg { transform: rotate(180deg); }

    .settings-sidebar { width: calc(100% - 2rem); padding: 0 1rem; }
    .settings-page { flex: unset; width: 100%; height: 100%; border: 0; }
    .settings-page::-webkit-scrollbar { display: none; }

    #settings-dropdown-btn { display: flex; }
    #settings-content { padding: 20px 1rem; }
}

/* SETTINGS PAGES */
.settings-card {
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--COLOR_3);
}

.settings-btn {
    font-size: .875rem;
    padding: 2px 16px;
    border-radius: .25rem;
    min-height: 32px;
}

.stng-edit-btn { background-color: var(--BUTTON); color: var(--FONT_COLOR); min-width: 60px; }
.stng-warning-btn { border: 2px solid var(--RED_BUTTON); width: max-content; }
.stng-action-btn { border: 2px solid var(--BLUE); width: max-content; }

.stng-edit-btn:hover { background-color: var(--BUTTON_HOVER); }
.stng-warning-btn:hover { background-color: var(--RED_BUTTON); color: var(--FONT_COLOR) }
.stng-action-btn:hover { background-color: var(--BLUE); color: var(--FONT_COLOR)}

.settings-full-btn {
    width: 100%;
    padding: 10px; 
    border-radius: .25rem;
    align-items: center;
    background-color: var(--MAIN_COLOR);
}
.settings-full-btn:hover, .settings-full-btn.active { background-color: var(--BUTTON_HOVER); }

.select-indicator-wrapper {
    height: 18px; 
    width: 18px; 
    border: 2px solid var(--FONT_DIM_COLOR);
    border-radius: 50%;
}

.select-indicator { height: 12px; width: 12px; border-radius: 50%; }
.select-indicator.active { background-color: var(--FONT_DIM_COLOR); }

.settings-avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    user-select: none;
}

/* settings account */
.user-info { justify-content: left; gap: 1rem }
.user-tag { color: var(--FONT_DIM_COLOR) }

.account-settings {
    background-color: var(--COLOR_4);
    padding: 1rem;
    border-radius: .5rem;
    gap: 1.5rem;
}

/* settings-popup-card */
.edit-card-wrapper { z-index: 25; pointer-events: none; }

#settings-edit-card { 
    width: 450px;
    gap: 2rem;
    padding: 2rem 1rem 1rem 1rem;
    margin: 1rem;
    border-radius: .5rem;
    background-color: var(--MAIN_COLOR);
    transform: scale(0);
    transition: .17s ease; 
    pointer-events: all;
}
#settings-edit-card.overlay { transform: scale(1); }
#settings-edit-card div { width: 100%; }

.card-close { 
    position: absolute;
    top: 2rem;
    right: 1rem;
    padding: .25rem;
}

.edit-card-info { color: var(--FONT_DIM_COLOR) }
.edit-submit-btn { align-self: flex-end; margin-top: -1rem; padding: .5rem 1rem }


/* LOGIN & REGISTER PAGE */
.login-page { width: 100%; height: 80%; }

.login-window {
    background-color: var(--MAIN_COLOR);
    color: var(--FONT_RV_COLOR);
    border-radius: .5rem;
    padding: 1.5rem 1.5rem .5rem 1.5rem;
    margin: 1rem;
    width: 480px;
}

.login-title { text-align: center; margin-bottom: 1rem; }
.login-redirect { margin-top: -.5rem; margin-bottom: 1rem; font-size: .875rem; }
.login-submit { width: 100%; margin: 1rem 0; }


/* OVERLAY */
#overlay { 
    z-index: 20; 
    opacity: 0; 
    background-color: rgba(0, 0, 0, .8);
    transition: .17s ease; 
    pointer-events: none; 
}
#overlay.overlay { opacity: 1; pointer-events: all; }

/* LOADING SCREEN */
#loading-screen-wrapper { 
    opacity: 1; 
    background-color: #010409; 
    color: var(--FONT_COLOR); 
}

#loading-screen { position: relative; gap: 2rem; }
#loading-screen h1 { text-align: center; font-weight: 700;}

.loading-dots {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--FONT_COLOR);
    animation: loading-dots 1s infinite linear alternate;
    animation-delay: 0.5s;
}
.loading-dots::before, .loading-dots::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}
.loading-dots::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--FONT_COLOR);
    animation: loading-dots 1s infinite alternate;
    animation-delay: 0s;
}
.loading-dots::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--FONT_COLOR);
    animation: loading-dots 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes loading-dots {
  0% {
    background-color: var(--FONT_COLOR);
  }
  50%, 100% {
    background-color: var(--FONT_DIM_COLOR);
  }
}

/* FLASH MESSAGE */
#flash-box {
    position: fixed;
    left: 50%;
    top: 0px;
    z-index: 100;
    margin-top: .5rem;
    transform: translate(-50%, 0);
    pointer-events: none;   
}

.flash-message {
    position: absolute;
    top: -100px;
    opacity: 0;
    width: max-content;
    padding: 1rem;
    background-color: var(--MAIN_COLOR);
    border-color: transparent;
    border-radius: 50px;
    transition: .17s ease; 
    animation: top-slide 3s;
}

@keyframes top-slide {
    0%, 100% { top: -100px; opacity: 0 }
    25%, 75% { top: 0px; opacity: 1 }
}

/* NOT FOUND - 404 */
.not-found { height: 70%; color: var(--FONT_DIM_COLOR)}
.not-found h2 { text-align: center; }

.not-found-error {
    -webkit-text-stroke: 2px var(--FONT_DIM_COLOR);
    text-transform: uppercase;
    color: transparent;
    font-size: 7rem;
    letter-spacing: .8rem;
    font-weight: 700;
}