/* GENERAL STUFF */
:root {
    --BACKGROUND_COLOR_2: #0F1626;
    --BACKGROUND_COLOR_3: #242535;
    --FONT_COLOR: #FFFFFF;

    --BLUE: #008eb9;
    --GREEN: rgb(0, 192, 61);
    --DIM_GREEN: rgb(0, 138, 44);

    --FLASH_INFO: rgba(0, 192, 61, 0.94);
    --FLASH_ERROR: rgba(192, 0, 61, 0.94);
}

html {
    height: 100%;
    background-color: var(--BACKGROUND_COLOR);
}

body {
    background-color: var(--BACKGROUND_COLOR);
    color: var(--FONT_RV_COLOR);
    font-family: "FF DIN Pro", sans-serif;
    width: 100vw;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: fixed;
}


/* GLOBALS */
button { background-color: transparent; border: 0 }
button:hover { cursor: pointer; }
button:hover svg { fill: var(--BLUE) }
a { color: var(--FONT_COLOR); text-decoration: none; }

.icons { fill: var(--FONT_COLOR) }

.link { color: var(--BLUE); }
.link:hover { text-decoration: underline; }


/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--BACKGROUND_COLOR_2);
    color: var(--FONT_COLOR);
    padding: 0;
}

.top-bar-text { margin: 0.5rem 1rem; }

#top-dropdown-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 53px;
    height: 53px;
}

#top-dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    right: 0%;
    transform: scale(0);
    transition: 200ms ease-in-out;
    background-color: var(--BACKGROUND_COLOR_2);
    z-index: 10;
    width: 150px;
    height: 100%;
    max-width: 40%;
}

.top-dropdown-close {
    display: flex;
    justify-content: right;
    margin: 1rem 1rem 1rem 0;
    width: 100%;
}

.top-dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-dropdown-menu.active { transform: scale(1); }

.top-dropdown-item {
    width: 100%;
    font-size: 16px;
    color: var(--FONT_COLOR);
    margin: 0.5rem 0; 
}

.top-dropdown-item:hover a { color: var(--BLUE) }
.top-dropdown-item:hover { color: var(--BLUE) }


/* HOME PAGE */
.home-page {
    display: flex;
    width: 100%;
    height: calc(100% - 53px - 1rem);
}

/* CHANNEL LIST */
.channel-list {
    width: 10%;
    height: 100%;
}

/* CHANNEL VIEW */
.channel-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    padding: 0.5rem;
    border-left: 1px solid var(--BORDER_COLOR);
}

.nochannel-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.nochannel-text {
    position:relative;
    text-transform:uppercase;
    color: var(--FONT_DIM_COLOR);
    font-size: 20px;
}

.channel-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 38px;
    border-radius: 5px;
    border-color: transparent;
    background-color: var(--BACKGROUND_COLOR_3);
    color: var(--FONT_COLOR)
}

.writing-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#message-inpt {
    border-color: transparent;
    border-radius: 5px;
    outline: 0;
    background-color: var(--BACKGROUND_COLOR_3);
    color: var(--FONT_COLOR);
    font-size: 16px;
    padding-left: 0.5rem;
    height: 30px;
    width: 100%
}

#message-send {
    background-color: var(--GREEN);
    color: var(--FONT_COLOR);
    border-radius: 5px;
    border-color: transparent;
    font-size: 16px;
    height: 34px;
}

#message-send:hover {
    cursor: pointer;
    background-color: var(--DIM_GREEN);
}


/* SETTINGS PAGE */
#settings-page {
    position: fixed;
    transform: scale(0);
    transition: 200ms ease-in-out;
    z-index: 15;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--BACKGROUND_COLOR);
}

#settings-page.active {
    transform: scale(1);
}

#close-settings svg {
    fill: var(--FONT_RV_COLOR);
}


/* LOGIN & SIGNUP PAGE */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.login-window {
    background-color: var(--BACKGROUND_COLOR_2);
    color: var(--FONT_COLOR);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 1rem;
    width: 480px;
}

.login-center {
    display: flex;
    justify-content: center;
}

.login-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.login-input {
    border-color: transparent;
    border-radius: 5px;
    outline: 0;
    background-color: var(--BACKGROUND_COLOR_3);
    color: var(--FONT_COLOR);
    font-size: 16px;
    padding-left: 0.5rem;
    height: 24px;
}

.login-text {
    margin: 0;
}

#forgot-passw {
    margin: 0.5rem 0 0 0;
    font-size: 13px;
}

#login-submit {
    background-color: var(--GREEN);
    color: var(--FONT_COLOR);
    border-radius: 5px;
    border-color: transparent;
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem;
    font-size: 16px;
}

#login-submit:hover {
    cursor: pointer;
    background-color: var(--DIM_GREEN);
}

#login-redirect {
    margin: 0.5rem 0 0 0;
    font-size: 13px;
}


/* OVERLAY */
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


/* FLASH MESSAGE */
.flash-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.flash-message {
    width: max-content;
    margin: 0;
    padding: 0.5rem;
    opacity: 0;
    border-color: transparent;
    border-radius: 5px;
    animation: fade 6s;
}

#flash-info { background-color: var(--FLASH_INFO) }
#flash-error { background-color: var(--FLASH_ERROR)}

.flash-text {
    color: var(--FONT_COLOR);
    margin: 0;
}

@keyframes fade {
    0%, 100% { opacity: 0 }
    25%, 45% { opacity: 1 }
}



/* NOT FOUND - 404 */
.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    padding: 2rem;
}