<!DOCTYPE html>
<html lang="en" data-theme="{{ theme if theme else 'dark' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="icon" type="icon/svg" href="{{ url_for('static', filename='icons/icon.ico') }}" />

    <title>Home Chat</title>
</head>
<body>
    <div class="center-column-container" id="flash-box"></div>
    <div id="appMount"></div>
    <div class="absolute-container" id="overlay"></div>
    <script>
        const user_id = "4384934470058150458"
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>