{% extends "base.html" %} 

{% block content %}
<div class="login-page center-container">
    <div class="login-window">
        <h1 class="login-title">Create an account</h1>

        <form action="" method="POST">
            <div class="column-container">
                <p class="category-text">EMAIL</p>
                <input class="input-field" type="email" name="email" size="30" required />
            </div>
            <div class="column-container">
                <p class="category-text">USERNAME</p>
                <input class="input-field" name="usrname" size="30" required />
            </div>
            <div class="column-container">
                <p class="category-text">PASSWORD</p>
                <input class="input-field" type="password" name="passwd" size="30" required />
            </div>

            <input class="login-submit submit-btn" type="submit" value="CONTINUE" />
            <p class="login-redirect">Already have an account? <a class="link" href="login">Log In</a></p>
        </form>
    </div>
</div>
{% endblock %}